.dialogs{
    display: grid;
    grid-template-columns: 4fr 8fr;
    padding: 2rem;
}
.dialogsItem , .massages{
    padding: 10px;
}
.dialogsItem .dialog a{
    color:#ffffff;
    text-decoration: none;
}
.dialogsItem .dialog{
    padding-bottom: 10px;
}
.dialogsItem a.active{
    color: gold;
}
.massages .massage{
    color: #ffffff;
}
.massageLeft{
    text-align: left;
}
.massageRight{
    text-align: right;
}
.newMassage{
    width: 100%;
}
